@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quentin';
    src: url('./assets/fonts/Quentin.otf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'High Summit';
    src: url('./assets/fonts/HighSummit.otf');
}

@font-face {
    font-family: 'Signature';
    src: url('./assets/fonts/TheSignature.otf');
}

.title {
    font-family: 'High Summit', sans-serif;
}
